@import "./colors.css";

* {
  font-size: 12px;
  padding: 0 4px;
}

window#waybar {
  all: unset;
  background: alpha(black, 0.7);
}

#workspaces {
  all: unset;
}

#workspaces button {
  all: unset;
  transition: all 0.2s ease-out;
  background: alpha(@on_primary_fixed_variant, 0.4);
}

#workspaces button:hover {
  background: alpha(@on_primary_fixed_variant, 0.7);
}

#workspaces button.empty {
  transition: all 0.2s ease-out;
  background: none;
}

#workspaces button.empty:hover {
  background: alpha(@on_primary_fixed_variant, 0.7);
}

#workspaces button.active {
  background: @on_primary_fixed_variant;
}

#battery:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#pulseaudio:hover,
#network:hover {
  transition: all 0.2s ease-out;
  color: @primary_fixed_dim;
}

#battery.charging {
  color: #32da78;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging),
#cpu.critical,
#memory.critical {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: red;
  }
}
