* {
    font-family: "Lato";
    font-size: 13px;
    padding: 0 4px;
}

#waybar {
    all: unset;
    background: rgba(46, 52, 64, 0.9);
    border: 1px solid rgba(59, 66, 82, 1);
    color: #d3e9ff;
    border-radius: 8px;
}

#workspaces {
    all: unset;
}

#workspaces button {
    all: unset;
    transition: all 0.2s ease-out;
    background: rgba(76, 86, 106, 0.5);
}

#workspaces button:hover {
    background: #4c566a;
}

#workspaces button.empty {
    background: none;
}

#workspaces button.empty:hover {
    background: #4c566a;
}

#workspaces button.active {
    background: #4c566a;
}

#battery.charging {
    color: #32da78;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging),
#cpu.critical,
#memory.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background: red;
    }
}